/* Sidebar.css */
.sidebar-container {
    height: 100vh; /* Set the height to 100% of viewport height */
    width: 15%; /* Adjust the width as needed */
    background-color: #184d9c;
    /* color: #252323; */
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    box-shadow: 2px 0px 5px rgba(0, 0, 0, 0.2);
  }
  
  .profile-container {
    margin-bottom: 20px;
  }
  
  .profile-circle {
    width: 80px;
    height: 80px;
    background-color: #595b5c;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .dashboard-title {
    font-size: 20px;
    font-weight: bold;
    text-align: center;
    margin-bottom: 20px;
  }
  
  .menu-list {
    list-style: none;
    padding: 0;
    width: 100%;
  }
  
  .menu-list li {
    margin-bottom: 10px;
  }
  
  .menu-list a {
    color: #000000;
    text-decoration: none;
    display: flex;
    align-items: center;
  }
  
  .menu-list a:hover {
    color: #fff;
    background-color: #464849;
    border-bottom: 2px solid #fff;
    transition: background-color 0.3s ease, color 0.3s ease, border-bottom 0.3s ease;
  }
  

  /* Style for menu buttons */
.menu-list a {
  color: #000000;
  text-decoration: none;
  display: flex;
  align-items: center;
  justify-content: center; /* Center the content horizontally */
  padding: 10px 0; /* Add padding to create space between buttons */
  transition: background-color 0.3s ease, color 0.3s ease, border-bottom 0.3s ease;
}

.menu-list a:hover {
  color: #fff;
  background-color: #464849;
  border-bottom: 2px solid #fff;
}

/* Add a separator line between buttons */
.menu-list li:not(:last-child) {
  border-bottom: 1px solid #ddd;
  margin-bottom: 10px; /* Add space between buttons */
}